@media (min-width: 992px) {
    iframe {
        height: 850px;
    }
}
@media (max-width: 991px) {
    iframe {
        height: 580px;
    }
}
@media (max-width: 576px) {
    iframe {
        height: 330px;
    }
}
